@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.calc-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: fit-content;
   margin: 2rem auto;
   border-radius: 12px;
   overflow: hidden;
}

.display {
   padding: 1rem;
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: column;
   font-size: 1.8rem;
   background-color: rgb(74, 72, 72);
   color: rgb(255, 255, 255);
}


.buttons-container {
   width: fit-content;
   height: 550px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(75, 72, 72);
}

.digits-operations {
   display: flex;
   justify-content: center;
   width: fit-content;
   gap: 1rem;
   margin: 1rem;
}

.digits {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 300px;
   height: 400px;
   gap: 0.8rem;
}

.num-btn,
.operator-btn {
   border-radius: 10px;
   font-size: 1.8rem;
   border: none;
   color: rgb(255, 255, 255);
}

.num-btn {
   flex: 0 0 30%;
   background-color: rgb(113, 110, 110);
}

.operations {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.operator-btn {
   flex: 0 0 22.5%;
   width: 90px;
   background-color: rgb(225, 172, 66);
}

.other-buttons {
   display: flex;
   justify-content: center;
   padding: 1rem;
   width: 100%;
   gap: 0.8rem;
}

.equals-btn,
.clear-btn {
   flex: 0 0 50%;
   height: 60px;
   border-radius: 10px;
   font-size: 1.8rem;
   border: none;
}
