* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-container {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.result-display {
    padding: 1rem;
    border-bottom: black 1px solid;
    width: 100%;
}

.digits-operations {
    display: flex;
}

.digits {
    display: flex;
    flex-wrap: wrap;

}

.num-btn {
    width: 1rem;
    flex: 1 0 33.33%;
}



